
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
.back_color {
    background-image: url("../Assets/img/undraw_proud_coder_re_exuy.svg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;

}

.form_item {
    z-index: 11;
        font-family: 'Roboto', sans-serif;
}
