@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');



.header_style {
    display: flex;
font-family: 'Roboto', sans-serif;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem
}

.header_item2 {
    display: flex;
    justify-content: end;
    align-items: center;
}


.page_numbers span {
    margin: 2rem;
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
}

.active {
    background-color: #0d6efd;
    color: white;
    border-radius: 4px;
    padding: 6px;
    font-size: 25px;
}

.Item_height {
    height: 20rem;
}

.Item_height:hover {
    transform: scale(1.1);
    transition: all 0.3s;
    font-family: 'Roboto', sans-serif;
}


@media only screen and (max-width: 750px) {

    .product_wrap {
        text-align: center;
    }

    .header_item2 {
        justify-content: center;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .cartCard {
        display: block;
    }

    .header_item {
        justify-content: center;
        display: flex;
        padding-top: 1rem;
    }

    .page_numbers span {
        margin: 8px;
        cursor: pointer;
        font-size: 15px;
        font-weight: 500;
    }

}